In [1]:
# Generic inputs for most ML tasks
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn import tree
import graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import display, HTML

/var/folders/tl/lnf2sv191t77b2f4hhxqlcx80000gn/T/ipykernel_39489/831096046.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

#### Read, pre-process and visualize data

In [43]:
# bts_files = [
#     "./dataset/bts_data/july_2022.csv",
#     "./dataset/bts_data/august_2022.csv",
#     "./dataset/bts_data/september_2022.csv",
#     "./dataset/bts_data/october_2022.csv",
#     "./dataset/bts_data/november_2022.csv",
#     "./dataset/bts_data/december_2022.csv"
# ]

In [44]:
# # fetch data 
# flight_data_set = pd.concat([pd.read_csv(f) for f in bts_files])
# flight_data_set.head()

,MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,...,ARR_DELAY,CANCELLED,DIVERTED,DUP,CRS_ELAPSED_TIME,DISTANCE,WEATHER_DELAY,NAS_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS
0,7,1,7/4/22 0:00,AA,1,AA,1,JFK,LAX,730,...,-21.00,0,0,N,355,2475,NaN,NaN,NaN,0.00
1,7,1,7/4/22 0:00,AA,10,AA,10,LAX,JFK,2145,...,-34.00,0,0,N,341,2475,NaN,NaN,NaN,0.00
2,7,1,7/4/22 0:00,AA,1002,AA,1002,DCA,ORD,1240,...,6.00,0,0,N,134,612,NaN,NaN,NaN,0.00
3,7,1,7/4/22 0:00,AA,1002,AA,1002,ORD,DCA,848,...,1.00,0,0,N,109,612,NaN,NaN,NaN,0.00
4,7,1,7/4/22 0:00,AA,1003,AA,1003,STL,ORD,735,...,7.00,0,0,N,85,258,NaN,NaN,NaN,0.00

In [45]:
# flight_data_set.shape

(3553980, 22)

In [46]:
# flight_data_set.to_csv('./dataset/bts_data/july_to_december_2022_bts.csv', index=False)

KeyboardInterrupt:

In [7]:
# july_2022 = pd.read_csv(bts_files[0])
# july_2022.shape
# august_2022 = pd.read_csv(bts_files[1])
# august_2022.shape
# september_2022 = pd.read_csv(bts_files[2])
# september_2022.shape
# october_2022 = pd.read_csv(bts_files[3])
# october_2022.shape
# november_2022 = pd.read_csv(bts_files[4])
# november_2022.shape
# december_2022 = pd.read_csv(bts_files[5])
# december_2022.shape

(618790, 28)

(613649, 28)

(580391, 28)

(595322, 28)

(567507, 28)

(578321, 28)

In [25]:
# flight_data_set.columns

Index(['MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'MKT_UNIQUE_CARRIER',
       'MKT_CARRIER_FL_NUM', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM',
       'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'CANCELLED', 'DIVERTED', 'DUP', 'CRS_ELAPSED_TIME',
       'DISTANCE', 'WEATHER_DELAY', 'NAS_DELAY', 'LATE_AIRCRAFT_DELAY',
       'DIV_AIRPORT_LANDINGS'],
      dtype='object')

In [27]:
# flight_data_set_filtered = flight_data_set[(flight_data_set['ORIGIN'].isin(['ORD', 'JFK', 'MCO'])) 
#                                                 & (flight_data_set['DEST'] == 'SYR') 
#                                                     & (flight_data_set['MKT_UNIQUE_CARRIER'].isin(['AA','B6','DL','UA','WN']))]

# print(set(flight_data_set_filtered['ORIGIN']))
# print(set(flight_data_set_filtered['DEST']))
# print(set(flight_data_set_filtered['MKT_UNIQUE_CARRIER']))

{'MCO', 'JFK', 'ORD'}
{'SYR'}
{'DL', 'UA', 'B6', 'WN', 'AA'}

In [28]:
# flight_data_set_filtered.shape

(1887, 22)

In [29]:
# flight_data_set_filtered.to_csv('./dataset/bts_data/filtered_july_to_december_2022_bts.csv', index=False)

In [6]:
bts_full_files = [
    "./dataset/bts_data/filtered_jan_to_june_2022_bts.csv",    
    "./dataset/bts_data/filtered_july_to_december_2022_bts.csv",
    "./dataset/bts_data/filtered_jan_to_june_2023_bts.csv",
    "./dataset/bts_data/filtered_july_to_december_2023_bts.csv"
]

In [7]:
full_flight_data_set = pd.concat([pd.read_csv(f) for f in bts_full_files])
full_flight_data_set.head()

,MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,...,ARR_DELAY,CANCELLED,DIVERTED,DUP,DISTANCE,WEATHER_DELAY,NAS_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,CRS_ELAPSED_TIME
0,1,1,1/3/22 0:00,AA,MQ,4134,ORD,SYR,1025,1316,...,-19.00,0,0,N,607,NaN,NaN,NaN,0,NaN
1,1,1,1/3/22 0:00,AA,MQ,4253,ORD,SYR,1725,2012,...,12.00,0,0,N,607,NaN,NaN,NaN,0,NaN
2,1,1,1/3/22 0:00,AA,MQ,4316,ORD,SYR,1528,1815,...,-2.00,0,0,N,607,NaN,NaN,NaN,0,NaN
3,1,1,1/3/22 0:00,B6,B6,116,JFK,SYR,829,950,...,NaN,1,0,N,209,NaN,NaN,NaN,0,NaN
4,1,1,1/3/22 0:00,B6,B6,2516,JFK,SYR,2145,2259,...,39.00,0,0,N,209,0.00,0.00,0.00,0,NaN

In [8]:
full_flight_data_set.shape

(7475, 21)

In [9]:
full_flight_data_set.columns

Index(['MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'MKT_UNIQUE_CARRIER',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED',
       'DIVERTED', 'DUP', 'DISTANCE', 'WEATHER_DELAY', 'NAS_DELAY',
       'LATE_AIRCRAFT_DELAY', 'DIV_AIRPORT_LANDINGS', 'CRS_ELAPSED_TIME'],
      dtype='object')

In [10]:
full_flight_data_set.to_csv('./dataset/bts_data/filtered_jan2022_to_december2023_bts.csv', index=False)

In [38]:
weather_data_files = [    
    "./dataset/weather_data/syracuse_jan_2022_to_dec_2022_hourly.csv",
    "./dataset/weather_data/syracuse_jan_2023_to_dec_2023_hourly.csv"
]
# "./dataset/weather_data/chicago_jan_2022_dec_2022_hourly.csv",
# "./dataset/weather_data/chicago_jan_2023_to_december_2023_hourly.csv",
# "./dataset/weather_data/ny_jan_2022_to_dec_2022_hourly.csv",
# "./dataset/weather_data/ny_jan_2023_to_dec_2023_hourly.csv",
# "./dataset/weather_data/orlando_jan_2022_to_dec_2022_hourly.csv",
# "./dataset/weather_data/orlando_jan_2023_to_dec_2023_hourly.csv",
# "./dataset/weather_data/syracuse_jan_2022_to_dec_2022_hourly.csv",
# "./dataset/weather_data/syracuse_jan_2023_to_dec_2023_hourly.csv"

In [39]:
full_weather_data_set = pd.concat([pd.read_csv(f) for f in weather_data_files])
full_weather_data_set.head()

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,syracuse,2022-01-01T00:00:00,35.10,30.30,35.00,99.62,0.00,0,NaN,0.00,...,"1,009.60",26.20,5.00,0,0.00,0,NaN,Partially cloudy,partly-cloudy-night,"KSYR,72519014771,72514654773,KFZY,72519664775,..."
1,syracuse,2022-01-01T01:00:00,35.10,28.70,35.00,99.64,0.00,0,NaN,0.00,...,"1,008.40",48.80,3.80,0,0.00,0,NaN,Partially cloudy,partly-cloudy-night,"KSYR,72519014771,72514654773,KFZY,72519664775,..."
2,syracuse,2022-01-01T02:00:00,37.10,31.80,37.00,99.62,0.00,0,NaN,0.00,...,"1,008.20",88.20,5.10,0,0.00,0,NaN,Partially cloudy,partly-cloudy-night,"KSYR,72519014771,72514654773,KFZY,72519664775,..."
3,syracuse,2022-01-01T03:00:00,38.10,32.90,38.00,99.67,0.00,0,NaN,0.00,...,"1,007.90",99.40,6.20,0,0.00,0,NaN,Overcast,cloudy,"KSYR,72519014771,72514654773,KFZY,72519664775,..."
4,syracuse,2022-01-01T04:00:00,39.90,36.60,39.80,99.62,0.01,100,rain,0.00,...,"1,006.80",99.80,5.00,0,0.00,0,NaN,"Rain, Overcast",rain,"KSYR,72519014771,72514654773,KFZY,72519664775,..."

In [40]:
full_weather_data_set.shape

(17520, 24)

In [41]:
full_weather_data_set.to_csv('./dataset/weather_data/syracuse_jan_2022_to_december_2023_hourly.csv', index=False)

In [37]:
full_weather_data_set.columns

Index(['name', 'datetime', 'temp', 'feelslike', 'dew', 'humidity', 'precip',
       'precipprob', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'conditions',
       'icon', 'stations'],
      dtype='object')

In [ ]:
columns_to_drop = ['tempmax', 'tempmin', 'feelslikemax','feelslikemin','dew','humidity','snow','snowdepth','sealevelpressure',]

full_weather_data_set = full_weather_data_set.drop(columns=columns_to_drop)

In [11]:
full_flight_data_set.columns

Index(['MONTH', 'DAY_OF_WEEK', 'FL_DATE', 'MKT_UNIQUE_CARRIER',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED',
       'DIVERTED', 'DUP', 'DISTANCE', 'WEATHER_DELAY', 'NAS_DELAY',
       'LATE_AIRCRAFT_DELAY', 'DIV_AIRPORT_LANDINGS', 'CRS_ELAPSED_TIME'],
      dtype='object')

In [16]:
print(set(full_flight_data_set['MKT_UNIQUE_CARRIER']))

{'WN', 'B6', 'UA', 'DL', 'AA'}

In [17]:
carrier_counts = full_flight_data_set['MKT_UNIQUE_CARRIER'].value_counts()
print(carrier_counts)

MKT_UNIQUE_CARRIER
UA    2005
B6    1835
DL    1764
AA    1692
WN     179
Name: count, dtype: int64